html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    font-size: 20px;
    margin-bottom: 60px;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

h1 {
    text-align: center;
}

.side-menu {
    position: fixed;
    background-color: rgb(0,11,40);
    height: 100vh;
    padding: 10px;
    overflow-x: auto;
    width: 175px;
}

    .side-menu > a {
        border-bottom: solid 2px rgb(0,11,40);
        color: white;
        font-size: 20px;
        font-weight:400;
        margin: 5px 0;
        padding: 10px;
        text-align: center;
        transition: all 100ms;
    }

        .side-menu > a:hover {
            border-bottom-color: rgb(13,178,255);
            font-weight: 500;
        }

        .side-menu > a:first-child:hover {
            border-bottom-color: rgb(0,11,40);
            font-weight: 400;
        }

        .side-menu > a.active {
            border-bottom-color: rgb(13,178,255);
            font-weight: 500;
        }

    .side-menu .app-name {
        font-size: 26px;
    }

.content {
    margin-left: 175px;
    width: 100%;
}

a {
    color: #0366d6;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

td {
    vertical-align: middle !important;
}

.btn {
    font-size: 20px;
}

form.subitem-form .inputfields {
    display: flex;
    flex-direction: row;
}

form.subitem-form .inputfields div {
    display: flex;
    flex-direction: column;
}

form.subitem-form .inputfields div > * {
    height: 30px;
    margin: 5px 2px;
}

.footer {
    position: absolute;
    bottom: 0;

    background-color: white;
    margin-left: 175px;
    line-height: 60px;
    text-align: center;
    width: calc(100% - 175px);
    white-space: nowrap;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
