html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

.row {
    margin: 0;
    width: 100%;
    max-width: 100%;
}

body {
    font-size: 20px;
    margin-bottom: 60px;
    line-height: normal;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

h1, h2, h3 {
    text-align: center;
    width: 100%;
}

.side-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0,11,40);
    height: 100vh;
    padding: 10px;
    overflow-x: auto;
    width: 250px;
}

    .side-menu a {
        border-bottom: solid 2px rgb(0,11,40);
        color: white;
        font-size: 20px;
        font-weight: 400;
        margin: 10px 0;
        text-align: center;
        transition: all 100ms;
        width: fit-content;
    }

        .side-menu a:hover {
            border-bottom-color: rgb(13,178,255);
            font-weight: 500;
        }

        .side-menu > a:first-child:hover {
            border-bottom-color: rgb(0,11,40);
            font-weight: 400;
        }

        .side-menu a.active {
            border-bottom-color: rgb(13,178,255);
            font-weight: 500;
        }


    .side-menu .app-name {
        font-size: 26px;
        margin: 0 auto;
        width: fit-content;
    }

    .side-menu .menu-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255,255,255,.1);
        border-radius: 5px;
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: rgb(13,178,255) rgba(13,178,255,.5);
        margin-bottom: 100px;
        width: 200px;
    }

        .side-menu .menu-items::-webkit-scrollbar {
            width: 5px;
        }

        .side-menu .menu-items::-webkit-scrollbar-thumb {
            background-color: rgba(13,178,255,.5);
            border-radius: 5px;
        }

            .side-menu .menu-items::-webkit-scrollbar-thumb:hover {
                background-color: rgb(13,178,255);
            }

.signed-as-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 10px;
    color: white;
    text-align: center;
    width: calc(100% - 20px);
}

    .signed-as-container a:hover {
        border-bottom-color: rgb(245,130,32);
    }

.content {
    position: relative;
    flex-direction: column;
    margin-left: 250px;
    width: 100%;
}

    .content .background-container {
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: -9999;
    }

        .content .background-container div {
            background-image: url(/img/background_championsfield.jpg);
            background-size: cover;
            height: 100vh;
            width: 100vw;
            margin-left: -135px;
        }

    .content .choose-role {
        flex-direction: column;
        padding: 20px;
        text-align: center;
        margin-top: 50px;
        max-width: 1000px;
    }

.background-transparent-white {
    background-color: rgba(255,255,255,.8);
    border-radius: 5px;
    width: 100%;
}

.form-container {
    width: 100%;
    max-width: 500px;
}

.login-container {
    margin-top: 50px;
    padding: 20px;
    max-width: 450px;
}

.login-btn-container a {
    margin: 0 20px;
    margin-top: 20px;
}

a {
    color: #0366d6;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

td {
    vertical-align: middle !important;
}

.btn {
    font-size: 20px;
}

form.subitem-form .inputfields {
    display: flex;
    flex-direction: row;
}

form.subitem-form .inputfields div {
    display: flex;
    flex-direction: column;
}

form.subitem-form .inputfields div > * {
    height: 30px;
    margin: 5px 2px;
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: white;
    margin-left: 250px;
    line-height: 60px;
    text-align: center;
    width: calc(100% - 250px);
    white-space: nowrap;
}

.message-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.message-content {
    position: relative;
    background-color: rgba(0,11,40,.9);
    border-radius: 10px;
    color: white;
    margin: auto;
    margin-top: 10vh;
    padding-bottom: 60px;
    text-align: center;
    height: fit-content;
    min-height: 200px;
    width: 100%;
    max-width: 500px;
}

.message-title {
    padding: 10px 0;
    border-bottom: solid 2px rgba(13,178,255,.4);
}

.message-text {
    padding: 0 10px;
}

.message-button-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.message-button {
    border-bottom: solid 2px rgb(0,11,40);
    cursor: pointer;
    font-weight: 400;
    margin: auto;
    padding: 10px;
    transition: all 100ms;
    width: 100px;
}

    .message-button:hover {
        border-bottom-color: rgb(245,130,32);
        font-weight: 500;
    }

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
