.main-item-container {
    padding: 0 10px;
}

.main-item, .sub-item {
    background-color: #000;
    border-radius: 5.5px;
    box-shadow: rgba(0,0,0,.5) 0px 7px 15px 0px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    transition: all 500ms;
}

.main-item {
    width: 100%;
    max-width: 500px;
}

    .main-item:hover {
        transform: scale(1.02);
    }

    .main-item.sub-items-visible {
        border-radius: 8px;
        max-width: 100%;
    }

    .main-item.sub-items-visible:hover {
        transform: scale(1);
    }

.img-container {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    padding-bottom: 10px;
}

.img-container img {
    max-height: 400px;
    width: 100%;
    max-width: 400px;
}

.info {
    border-top: solid 4px rgb(13,178,255);
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    padding-top: 10px;
}

.attribute-container{
}

.attribute-name, .attribute-value {
    display: flex;
    flex-direction: column;
}

.attribute-name {
    margin-right: 10px;
}

.sub-item-container {
    display: none;
    flex-direction: row;
    align-items: center;

    background-color: white;
    border-radius: 0 0 5px 5px;
    border-top: solid 5px rgb(13,178,255);
    padding: 10px;
    transition: all 500ms;
}

    .sub-item-container.show {
        display: flex;
    }

.sub-item {
    cursor: default;
}

    .sub-item:hover {
        transform: scale(1.02);
    }

    .sub-item .img-container {
        height: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .sub-item .info {
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }