@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-between choose-role">
    <h1>How do you want to LogIn?</h1>
    <div class="row justify-content-around">
        <a asp-controller="Home" asp-action="UserLogIn" class="btn btn-primary">as User</a>
        <a asp-controller="Home" asp-action="AdminLogIn" class="btn btn-outline-primary">as Admin</a>
    </div>
</div>
