@model IEnumerable<RLIM.UI.Models.SubItemModel>

@{
    ViewData["Title"] = "Sub-Items";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Main-Item
            </th>
            <th>
                Certificate
            </th>
            <th>
                Color
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.mainItem.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.certificate.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.color.Name)
                </td>
                <td>None</td>
            </tr>
        }
    </tbody>
</table>
