@model IEnumerable<RLIM.UI.Models.PlatformModel>

@{
    ViewData["Title"] = "Platforms";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td><a asp-controller="Platform" asp-action="Create" class="btn btn-primary">New Platform</a></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    <a href="Platform/@item.ID/Update" class="btn btn-warning">Update</a>
                    <a href="Platform/@item.ID/Delete" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
